:root * {
    box-sizing: border-box;
    --background-color: #000000;
    --primary-color: #bfbfbf;
    --background-secondary-color: #1c1c1c;
    --background-tertiary-color: #2c2c2c;
    --background-quaternary-color: #3c3c3c;
    --font-s: 1.2rem;
    --font-m: 1.8rem;
    --font-l: 2.4rem;
    --font-xl: 3.2rem;
    --font-xxl: 4.0rem;
    --spacing-s: 0.8rem;
    --spacing-m: 1.6rem;
    --spacing-l: 2.4rem;
    --spacing-xl: 3.2rem;
    --spacing-xxl: 4.0rem;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
}

h1 {
    font-size: var(--font-xxl);
}

p {
    font-size: var(--font-s);
}

h3 {
    font-size: var(--font-xl);
}